*ul{
    display: flex;
}
*{
    box-sizing: border-box;
}
.main_header{
    display: flexbox;
    background-color: white;

}
.banner{
    position: relative;
    height: 300px;
    overflow: hidden;

}
body{
    background-color: black;
    margin: unset;
}
header{
    background-color: aqua;
}
.main_header{
    background-color: white;
}
.Min_menu{
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}
.Min_menu li {
    list-style:none;
    font-size: 14px;
    color: rgb(163, 241, 144);

}
.container1{
    display: flex;
}
.main_logo{
    max-height: 50px;

}